# Theme
theme = light:Gruvbox Light,dark:Gruvbox Dark

# Font
font-size = 14
font-thicken = true

# Disable Ligatures
font-feature = -dlig
font-feature = -liga
font-feature = -calt

# Cursor
cursor-style = block
cursor-style-blink = false
mouse-hide-while-typing = true

# OS
macos-secure-input-indication = false
macos-titlebar-proxy-icon = hidden
macos-option-as-alt = true
bell-features = system, no-title

# Window
window-padding-x = 12
window-padding-balance = true

# Miscellaneous
clipboard-paste-protection = false
shell-integration-features = no-cursor
macos-icon = retro

# Vim Navigation & Jumps
keybind = cmd+o=text:\x0f
keybind = cmd+i=text:\x09
keybind = cmd+d=text:\x04
keybind = cmd+u=text:\x15
keybind = cmd+f=text:\x06
keybind = cmd+b=text:\x02
keybind = cmd+e=text:\x05
keybind = cmd+y=text:\x19

# Vim Editing
keybind = cmd+r=text:\x12
keybind = cmd+n=text:\x0e
keybind = cmd+p=text:\x10

# Ghostty Actions
keybind = cmd+shift+f=start_search
keybind = cmd+shift+n=new_window
